*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: peachpuff;
}
.name{
    text-align:center;
    padding: 30px;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #777;
    padding: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.button {
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #999;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: #d19c9c;
}
